filebeat.inputs:
- type: log
  enabled: false
  paths: "{{ filebeat_input_logs }}"
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
setup.template.settings:
  index.number_of_shards: 1
setup.ilm.overwrite: true
setup.kibana:
  host: "{{ kibana_ip_address }}"
output.elasticsearch:
  hosts: [ "{{ elasticsearch_ip_address }}" ]
  username: "{{ elasticsearch_username }}"
  password: "{{ elasticsearch_password }}" 
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
