this is hostname {{ ansible_nodename }} <p>
OS release is {{ ansible_distribution_version }} <p>
this is vm on  {{ ansible_virtualization_type }} <p>
last change {{ ansible_date_time.date }} {{ ansible_date_time.time }}
